@background_color_1: #f2eeee;

.margin-t-0 {
    margin-top: 12px;
}
.padding-r-7 {
    padding-right: 7px;
}
.info-icon{
    margin-top: -3px;
}
.select-door.current{
    border:1px solid #993300;
}
.width-height{
    padding: 24px 0 0;
}
.padding-b-10 {
    padding-bottom: 10px;
}
.padding-l-7 {
    padding-left: 7px;
}
.selected-icon {
    height: 15px;
    right: 5px;
    top: 5px;
}
.measure{
    margin-left: 40px;
} 
hr{
    border-top: 2px solid #999 !important;
}
.div-border {
    border-color: rgb(200, 200, 200);
    border-style: solid;
    background-color: rgb(255, 255, 255);
}
.div-border-radius {
    border-width: 1px;
    border-radius: 5px;
}

.size-example {
    line-height: 12px;
    color: #757575;
}

li {
	list-style-type: disc;
}
.selectdoorSizetoster{
background-color: #fff;padding: 0px;
width: 100%;
-moz-border-radius: 3px 3px 3px 3px;
-webkit-border-radius: 3px 3px 3px 3px;
border-radius: 3px 3px 3px 3px;
background-repeat: no-repeat;
-moz-box-shadow: 0 0 12px #999999;
-webkit-box-shadow: 0 0 12px #999999;
box-shadow: 0 0 12px #999999;
color: #000;
margin: 0px auto;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
filter: alpha(opacity=80);
position: fixed;
    top: 56px !important;
    left: 0;
    height: 100%;
	z-index: 99;
}
.selectdoorSizetosterspan{
display: inline-block;
margin-top: 10px;
}
.selectdoorSizetoster button{
    float: right;
	margin-top: 5px;
    margin-right: 14px;
}














