<div class="logo-header row-inner">
    <div class="col-xs-2" *ngIf="count > 2">
        <img src="../../assets/images/humburger_icon.png" (click)="humberger()" alt="" height="40"
             class="pull-left hamburger hamburger_icon">
        <img src="../../assets/images/humburger_icon.png" (click)="humbergerCollapse()" alt="" height="40"
             class="collapse-humberger hide pull-left hamburger_icon">
    </div>
    <div class="col-xs-5 padding-0">
        <a href="https://www.clopaydoor.com/">
            <img src="./assets/images/clopay-logo_s.png" (click)="homePage('/banner')"
                 [ngClass]="{'padding-l-7':count < 2}" class="logo" alt="">
        </a>
    </div>

    <div class="col-xs-4 pull-right padding-0">
        <a href="http://www.homedepot.com/"><img src="./assets/images/TheHomeDepot.png" alt="" height="40"
                                                 class="pull-right"></a>
        <img src="./assets/images/shopping-cart.png" (click)="modal.open()" alt="" height="30"
             class="pull-right cart-icon">
        <span class="shop-count">0</span>
    </div>
</div>
<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="padding-l-20"> Your Shopping Cart is Empty </h4>
    </modal-header>
    <modal-body class="text-center">
        <div class="margin-t-100">
            <button class="btn btn-default box-shadow text-orange bold" (click)="modal.close()">Continue Shopping
            </button>
        </div>
    </modal-body>
</modal>
