 
<h4 class="text-orange font-size-16">Additional Options</h4>
<div class="content additional-options" id="resFlow">
    <dl>
        <dd>
            <div class="clearfix">
                <p class="col-xs-11"> Medallion Hardware Upgrade for <span class="text-orange">$59.00</span>?

                </p>
                <img  (click)="resFlowMed.open()" class="pull-right " alt="" height="25" src="../../assets/images/info.png">
            </div>

            <div id="upgrade"> 
                <img src="../../assets/images/Medallionlogo.png" alt=""/>
                <img src="../../assets/images/MedallionUpgrades_warranties.png" alt=""/>

            </div>
            <div class="flex-right">
                <span class="text-orange">Yes</span>
                <label class="switch">
                    <input type="checkbox" checked="checked">
                    <div class="slider round"></div>
                </label>
                <span class="text-orange">No</span>
            </div>
        </dd>
        <dd>
            <div class="clearfix">
                <p (click)="resFlowMiles.open()" class="col-xs-11">Is this job site within 30 drive miles of this store?    </p>
                <img  class="pull-right" alt="" height="25" src="../../assets/images/info.png">
            </div>
            <div class="flex-right">
                <span class="text-orange">Yes</span>
                <label class="switch">
                    <input type="checkbox" checked="checked">
                    <div class="slider round"></div>
                </label>
                <span class="text-orange">No</span>
            </div>
            <div class="align-right ">
                <p id="distance">Distance of job site is <input type="text" /> drive miles from store</p>
            </div>
        </dd>
        <dd>
            <div class="clearfix">
                <p class="col-xs-11">Do you need Double Track Low Head Room Conversion Kit <span class="text-orange">$59.00</span>?</p>
                <img  class="pull-right" alt="" height="25" src="../../assets/images/info.png">
            </div>
            <div class="flex-right">
                <span class="text-orange">Yes</span>
                <label class="switch">
                    <input type="checkbox">
                    <div class="slider round"></div>
                </label>
                <span class="text-orange">No</span>
            </div>
        </dd>
    </dl>
</div>
<div class="content additional-options" id="gdoFlow">
 
<h4 class="text-orange font-size-16">13 Additional Options</h4>
<div class="content additional-options">
 
    <dl>
        <dd>
            <div class="clearfix">
                <p class="col-xs-11"> Medallion Hardware Upgrade for <span class="text-orange">$59.00</span>?

                </p>
                <img  class="pull-right " alt="" height="25" src="../../assets/images/info.png">
            </div>

            <div id="upgrade"> 
                <img src="../../assets/images/Medallionlogo.png" alt=""/>
                <img src="../../assets/images/MedallionUpgrades_warranties.png" alt=""/>

            </div>
            <div class="flex-right">
                <span class="text-orange">Yes</span>
                <label class="switch">
                    <input type="checkbox" checked="checked">
                    <div class="slider round"></div>
                </label>
                <span class="text-orange">No</span>
            </div>
        </dd>
        <dd>
            <div class="clearfix">
                <p class="col-xs-11">Is this job site within 30 drive miles of this store?    </p>
                <img  class="pull-right" alt="" height="25" src="../../assets/images/info.png">
            </div>
            <div class="flex-right">
                <span class="text-orange">Yes</span>
                <label class="switch">
                    <input type="checkbox" checked="checked">
                    <div class="slider round"></div>
                </label>
                <span class="text-orange">No</span>
            </div>
            <div class="align-right ">
                <p id="distance">Distance of job site is <input type="text" /> drive miles from store</p>
            </div>
        </dd>
        <dd>
            <div class="clearfix">
                <p class="col-xs-11">Do you need Double Track Low Head Room Conversion Kit <span class="text-orange">$59.00</span>?</p>
                <img  class="pull-right" alt="" height="25" src="../../assets/images/info.png">
            </div>
            <div class="flex-right">
                <span class="text-orange">Yes</span>
                <label class="switch">
                    <input type="checkbox">
                    <div class="slider round"></div>
                </label>
                <span class="text-orange">No</span>
            </div>
        </dd>
    </dl>
</div>
<modal #resFlowMed>
  <modal-header [show-close]="true">
  </modal-header>
  <modal-body>
      <img src="../../assets/images/additionalOptions/R_med.png" alt=""/>
  </modal-body>
</modal>

<modal #resFlowMiles>
  <modal-header [show-close]="true">
  </modal-header>
  <modal-body>
      <p>Distance From Store? </p>
      
  <p>Prices INCLUDE Home Delivery withIn a 30 mile driving distance from the store.if job site location is greater than 30 drive miles from store then the following mileage fees apply:</p>
  <ul>
      <li><span>31 - 50 miles from store - flat rate of $51</span></li>
        <li><span>Greater than 50 miles from store - ﬂat rate of $51 + $3.00 for every drive mile over50</span></li>
  </ul>
  </modal-body>
</modal>
  