<h4 class="text-orange font-size-16">{{pageNo}} Additional Options</h4>
<div class="content additional-options" id="resFlow" *ngIf="!gdoFlow">
    <dl>
        <dd>
            <div class="clearfix">
                <p class="col-xs-11"> Medallion Hardware Upgrade for <span class="text-orange">$59.00</span>?
                </p>
                <img (click)="resFlowMed.open()" class="pull-right " alt="" height="25"
                     src="../../assets/images/info.png">
            </div>
            <div id="upgrade">
                <img src="../../assets/images/Medallionlogo.png" alt=""/>
                <img src="../../assets/images/MedallionUpgrades_warranties.png" alt=""/>
            </div>
            <div class="flex-right">
                <span class="text-orange">Yes</span>
                <label class="switch">
                    <input type="checkbox" checked="checked">
                    <div class="slider round"></div>
                </label>
                <span class="text-orange">No</span>
            </div>
        </dd>
        <dd>
            <div class="clearfix">
                <p (click)="resFlowMiles.open()" class="col-xs-11">Is this job site within 30 drive miles of this
                    store? </p>
                <img class="pull-right" alt="" height="25" src="../../assets/images/info.png">
            </div>
            <div class="flex-right">
                <span class="text-orange">Yes</span>
                <label class="switch">
                    <input type="checkbox" checked="checked">
                    <div class="slider round"></div>
                </label>
                <span class="text-orange">No</span>
            </div>
            <div class="align-right ">
                <p id="distance">Distance of job site is <input type="text"/> drive miles from store</p>
            </div>
        </dd>
        <dd>
            <div class="clearfix">
                <p class="col-xs-11">Do you need Double Track Low Head Room Conversion Kit <span class="text-orange">$59.00</span>?
                </p>
                <img (click)="resFlowHeadRoom.open()" class="pull-right" alt="" height="25"
                     src="../../assets/images/info.png">
            </div>
            <div class="flex-right">
                <span class="text-orange">Yes</span>
                <label class="switch">
                    <input type="checkbox">
                    <div class="slider round"></div>
                </label>
                <span class="text-orange">No</span>
            </div>
        </dd>
        <dd>
            <div class="clearfix">
                <p class="col-xs-11">Do you need an <strong>Emergency Release Kit</strong>? <span class="text-orange">$35.00</span>?
                </p>
                <img (click)="resFlowReleaseKit.open()" class="pull-right" alt="" height="25"
                     src="../../assets/images/info.png">
            </div>
            <div class="flex-right">
                <span class="text-orange">Yes</span>
                <label class="switch">
                    <input type="checkbox">
                    <div class="slider round"></div>
                </label>
                <span class="text-orange">No</span>
            </div>
        </dd>
    </dl>
</div>
<div class="content additional-options" id="gdoFlow" *ngIf="gdoFlow">
    <div *ngIf="!directFlow" class="content additional-options">
        <dl>
            <dd>
                <div class="clearfix">
                    <p class="col-xs-11">Does your current door work manually without a garage door opener attached?
                    </p>
                    <img (click)="gdoFlowManualDoor.open()" class="pull-right " alt="" height="25"
                         src="../../assets/images/info.png">
                </div>

                <div class="flex-right">
                    <span class="text-orange">Yes</span>
                    <label class="switch">
                        <input type="checkbox" checked="checked">
                        <div class="slider round"></div>
                    </label>
                    <span class="text-orange">No</span>
                </div>
            </dd>
            <dd>
                <div class="clearfix">
                    <p class="col-xs-11">Is there an outlet in the celing approx. 10' back-center of the door or within
                        3' of where the opener powerhead will be installed?</p>
                    <img (click)="gdoFlowPowerHead.open()" class="pull-right" alt="" height="25"
                         src="../../assets/images/info.png">
                </div>
                <div class="flex-right">
                    <span class="text-orange">Yes</span>
                    <label class="switch">
                        <input type="checkbox" checked="checked">
                        <div class="slider round"></div>
                    </label>
                    <span class="text-orange">No</span>
                </div>
            </dd>
            <dd>
                <div class="clearfix">
                    <p class="col-xs-11">Is this job site within 30 drive miles of this store? </p>
                    <img (click)="gdoFlowMiles.open()" class="pull-right" alt="" height="25"
                         src="../../assets/images/info.png">
                </div>
                <div class="flex-right">
                    <span class="text-orange">Yes</span>
                    <label class="switch">
                        <input type="checkbox" checked="checked" (change)="showDistance($event,null)">
                        <div class="slider round"></div>
                    </label>
                    <span class="text-orange">No</span>
                </div>
                <div class="align-right ">
                    <div>
                        Distance of job site is
                        <form class="inline-block">
                            <input type="text" (keypress)="updateDistance($event,null)"
                                   name="gdoDistance" [(ngModel)]="distance"/>
                        </form>
                        drive miles from store
                    </div>

                    <p *ngIf="showDistancePrice">{{distance}} miles from store ({{distancePrice |
                        currency:'USD':true:'1.2-2'}})</p>

                </div>
            </dd>
        </dl>
    </div>
    <div *ngIf="directFlow" class="content additional-options">
        <dl>
            <dd>
                <div class="clearfix">
                    <p class="col-xs-11">Single Door New Opener Installation Kit. This is required when no Opener is
                        currently installed on door less than 10' wide.
                    </p>
                    <select name="" (change)="directDoor($event,0)" *ngIf="singleDrop">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>

                <div class="flex-right">
                    <span class="text-orange">Yes</span>
                    <label class="switch">
                        <input type="checkbox" (change)="showSingle($event)">
                        <div class="slider round"></div>
                    </label>
                    <span class="text-orange">No</span>
                </div>
            </dd>
            <dd>
                <div class="clearfix">
                    <p class="col-xs-11">Double Door New Opener Installation Kit. This is required when no Opener is
                        currently installed on door less than 10' wide.</p>
                    <select name="" (change)="directDoor($event,1)" *ngIf="doubleDrop">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="flex-right">
                    <span class="text-orange">Yes</span>
                    <label class="switch" (change)="showDouble($event)">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                    <span class="text-orange">No</span>
                </div>
            </dd>
            <dd>
                <div class="clearfix">
                    <p class="col-xs-11">Is this job site within 30 drive miles of this store? </p>
                </div>
                <div class="flex-right">
                    <span class="text-orange">Yes</span>
                    <label class="switch">
                        <input type="checkbox" checked="checked" (change)="showDistance($event,'direct')">
                        <div class="slider round"></div>
                    </label>
                    <span class="text-orange">No</span>
                </div>
                <div class="align-right ">
                    <div>
                        Distance of job site is
                        <form class="inline-block">
                            <input type="text" (keyup)="updateDistance($event,'direct')"
                                   name="gdoDistance" [(ngModel)]="distance"/>
                        </form>
                        drive miles from store
                    </div>

                    <p *ngIf="showDistancePrice">{{distance}} miles from store ({{distancePrice |
                        currency:'USD':true:'1.2-2'}})</p>

                </div>
            </dd>
        </dl>
    </div>
</div>

<div id="footer" class="col-xs-12 padding-t-10 padding-b-10">
    <a href="javascript:void(0)" class="pull-left previous-btn" (click)="prevBtn('/opener')" data-id="currScreen">
        <img src="../../assets/images/back-48-thick.png" height="15px">
        Prev
    </a>

    <a href="javascript:void(0)" class="pull-right nextBtn" (click)="nextBtn('/doorConfiguration')"
       data-id="currScreen">
        Next
        <img src="../../assets/images/Forward-48-thick.png" height="15px">
    </a>
</div>

<modal #resFlowMed>
    <modal-header [show-close]="true">
    </modal-header>
    <modal-body>
        <img src="../../assets/images/additionalOptions/R_med.png" alt=""/>
    </modal-body>
</modal>
<modal #resFlowMiles>
    <modal-header [show-close]="true">
    </modal-header>
    <modal-body class="bold text-left padding10">
        <p>Distance From Store? </p>
        <p>Prices INCLUDE Home Delivery withIn a 30 mile driving distance from the store.if job site location is greater
            than 30 drive miles from store then the following mileage fees apply:</p>
        <ul>
            <li><span>31 - 50 miles from store - flat rate of $51</span></li>
            <li><span>Greater than 50 miles from store - ﬂat rate of $51 + $3.00 for every drive mile over50</span></li>
        </ul>
    </modal-body>
</modal>
<modal #resFlowHeadRoom>
    <modal-header [show-close]="true">
    </modal-header>
    <modal-body class="text-left padding10">
        <h4 class="margin-b-10 bold">What is a Low Headroom Conversion Kit? </h4>
        <p class="margin-b-10">Low Headroom track reduces the amount of headroom required 0 Backroom Ceiling for a
            normal installation Headroom is the space needed above the top of the door upwards to the first obstruction
            within the path of the door inside the garage.</p>
        <img src="../../assets/images/how_to_measure-drawing.png" class="img-rounded measure margin-r-10" alt=" "
             width="304"
             height="236">
    </modal-body>
</modal>
<modal #resFlowReleaseKit>
    <modal-header [show-close]="true">
    </modal-header>
    <modal-body class="text-left padding10">
        <p class="margin-b-10 margin-t-20">The Clopay Emergency Release Kit allows you to disengage the Garage Door
            Opener. from the outside of the garage. This allows you to
            open the door in the event of a power outage or opener failure. The Clopay Emergency Release Kit may be
            required if the Garage Door is the
            only am to the stmcture. Please check local building codes for clarification.
        </p>
        <span class="padding10">Installation required for DIY orders  </span>
    </modal-body>
</modal>
<modal #gdoFlowManualDoor>
    <modal-header [show-close]="true">
    </modal-header>
    <modal-body class="text-left padding10">
        <p class="margin-b-10 margin-t-20">
            If door does not operate manually without opener attached then a new openers may not be able to
            operate the door. You should be able to open and dose door manually without the opener attached.
            If it dew not operate manually then you may need to consider spring replacement or purchasing a
            new Garage Door.

        </p>
    </modal-body>
</modal>
<modal #gdoFlowPowerHead>
    <modal-header [show-close]="true">
    </modal-header>
    <modal-body class="text-left padding10">
        <p class="margin-b-10 margin-t-20">For a complete installation. there should be an approved 110 volt electrical
            outlet within 3' of the power head of the opener. If no outlet is “n place. but power is
            available through an extension cord, the installer will test and adjust the opener but will not leave the
            extension cord in place.
        </p>
    </modal-body>
</modal>
<modal #gdoFlowMiles>
    <modal-header [show-close]="true">
    </modal-header>
    <modal-body class="text-left padding10">
        <p class="margin-b-10 margin-t-20">
            Prices INCLUDE Home Delivery within a 30 mile driving distance from the store.<br>

            If job site location is greater than 30 drive miles from store then the following mileage fees apply:
            31 - 50 mil% from store - flat rate of $51
            Greater than 50 miles from store - flat rate of $51 + $3.00 for every drive mile over 50

        </p>
    </modal-body>
</modal>
