<h4 class="font-size-16  padding-l-20   margin-t-20 padding-t-10 text-orange">Design Your Garage Door</h4>
<div class="ad-sec margin-t-10 box-shadow">
    <img  alt="" src="../../assets/images/AdBannerMobile.png">
</div>
<div class="category-sec clearfix font-size-13 ">
    <div class="col-xs-6 padding-r-7 show-category">
        <div class="bg-white box-shadow"  (click)="navigateTo('/doorSize','residentialNavElems',12)">
            <div class="image-sec text-center padding-t-10">
                <span class="helper"></span>
                <img src="../../assets/images/IconResidentialdoor.png" class="margin-b-15 residential-garrage-icon"
                     alt="">
            </div>
            <p class="category-type residential-garrage text-center ">{{lang.categoryOne}}</p>
        </div>
    </div>
    <div class="col-xs-6 padding-l-7">
        <div class="bg-white box-shadow" (click)="navigateTo('/doorSize','gdoNavElems',4)">
            <!--        routerLink="/doorSize"-->
            <div class="../../assets/image-sec text-center padding-t-10 ptn-rel">
                <!--<img src="../../assets/images/coming-soon.png" class="ptn-abs category-coming-soon" alt="">-->
                <img src="../../assets/images/IconGDO.png" class="margin-b-15 margin-r-25 garage-opener-icon"
                     alt="" width="80">
            </div>
            <p class="category-type text-center">{{lang.categoryTwo}}</p>
        </div>
    </div>
    <div class="col-xs-6 padding-r-7" (click)="showModal()" *ngIf="isService">
        <div class="bg-white box-shadow">
            <div class="../../assets/image-sec text-center padding-t-10 ptn-rel category-height">
                <!--<img src="../../assets/images/coming-soon.png" class="ptn-abs category-coming-soon" alt="">-->
                <img src="../../assets/images/IconRepair.png" class="margin-b-15 margin-r-25 service-repair-icon"
                     alt="">
            </div>
            <p class="category-type text-center">{{lang.categoryThree}}</p>
        </div>
    </div>
</div>
<app-trending-now></app-trending-now>
<modal #modal>
    <modal-header  >
    </modal-header>
    <modal-body>
        <p class="padding20">You will now be directed to The Home Depot's Service and Repair's page. From this site, you can request a call from a service technician to assist you with service or repair.</p>
        <div class="text-center">
            <button class="btn btn-default box-shadow text-orange  bold margin-b-30 text-uppercase" (click)="serviceRepair()">
                {{lang.modal.Proceed}}
            </button> 
            <br>
            <button class="btn btn-default box-shadow text-orange bold text-uppercase" (click)="modal.close()">
                {{lang.modal.StayOnCurrentSite}}
            </button>
        </div>
    </modal-body>
</modal>
<modal #gdo>
    <modal-header [show-close]="true">
    </modal-header>
    <modal-body>
        <div class="col-xs-12 margin-b-10 ">
            <div  class="margin-b-30 text-center div-border div-border-radius box-shadow tile box-shadow"  >
                <p class="margin-b-10 margin-top-10 margin-r-10 padding-t-10  margin-b-30"  > Are you shopping for a NEW Delivered and Installed Garage Door Opener?</p>
                <button (click)="gdoGoTo('/gdoDoorSize', 'size')" class="btn btn-default text-orange bold margin-b-30"   >
                    NEXT >
                </button>
            </div>
            <div class="div-border div-border-radius  text-center box-shadow margin-b-10 tile box-shadow">
                <p class="margin-b-10 margin-top-10 padding-t-10 margin-b-30"> Already have a Garage Door Opener purchased from Home Depot that needs to be installed ?</p>
                <button (click)="gdoGoTo('/gdoConfig/additionalOptions','add')" class="btn btn-default text-orange bold margin-b-30" >
                    NEXT >
                </button>
            </div>
        </div>
    </modal-body>
</modal>

