<div class="installQuestion">
    <h4>Lead Test Question:</h4>
    <p>The Environmental Protection Agency (EPA) has mandated that all homes built
        prior to 1978 be assessed by an EPA Certified Lead Renovator prior to any professional
        home renovation to determine if lead based paint is present in the work area and whether
        containment of lead based paint will be required during the renovation.
    </p>

    <h4>Was your Garage / Home built prior to 1978?</h4>
    <div class="text-center">
        <button class="btn btn-default btn-lg margin-r-25 box-shadow text-orange bold text-uppercase" (click)="goTo('/installAnswer')">
            Yes
        </button>
        <button class="btn btn-default btn-lg box-shadow text-orange bold text-uppercase" (click)="goTo('/config/install')">No
        </button>
    </div>
</div>