
._slider-container {
    padding: 10px 0px;
    ._slider-wrapper {
        height: 100%;
        overflow: hidden;
        ._slider {
            height: 100%;
            clear: both;
            position: relative;

            ._slide {
                height: 100%;
                float: left;
                ._slide-img {
                    width: 100%;
                    height: auto;
                }

                ._slide-items {
                    height: 100%;
                    .inner-item{
                        .construciton-info{
                            position: absolute;
                            right: 0;
                            bottom: 40px;
                            img{
                                width: 20px;
                                height: 20px;
                            }
                        }
                        padding: 4px;
                        img{
                            border: 1px solid #fff;
                            width: 100%;
                        }
                        img.current{
                            border: 1px solid #f96302;
                        }
                        &.current {
                            img {
                                border: 1px solid #f96302;
                            }
                        }
                    }
                }
            }
        }
    }
}
.animate-me {
    transition: all .2s linear;
}
 
.left-arrow {
  height: 40px;
}

.right-arrow {
  height: 40px;
}