<div class="_slider-container m20-top">
  <div class="_slider-wrapper">
    <div class="_slider" [style.width.px]="sliderWidth" [style.left.px]="sliderLeft">
      <div class="_slide" [style.width.px]="slideWidth" *ngFor="let slide of data; let k = index">
        <div class="_slide-items">
          <div class="inner-item col-xs-{{number}}" *ngFor="let slideitem of slide; let i=index" [ngClass]="{ 'current' : isSeleted(slideitem, k, i)}">
            <img src="../../../assets/images/openers/{{slideitem.item_thumbnail.replace('.jpg','.png')}}"
                 (click)="openerSelected(slideitem, $event)"                 
                 [attr.data-id]="slideitem.item_id"
                 alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" *ngIf="slideIndex > 0" id="prev" (click)="moveSlider()" href="javascript:void(0)" role="button" data-slide="prev">
      <span class="helper"></span><img style=" transform: rotate(-180deg);" class="left-arrow" src="../../assets/images/ch-left-arrow.png" alt="">
    </a>
    <a class="right carousel-control" *ngIf="slideIndex < slideCount - 1" id="next" (click)="moveSlider(true)" href="javascript:void(0)" role="button" data-slide="next">
      <span class="helper"></span><img class="right-arrow" src="../../assets/images/ch-right-arrow.png" alt="">
    </a>

  </div>
</div>

