<div class="content door-configuration checkout">
    <p [innerHTML]="data.collectionName"></p>

    <dl class="door-configuration-table">
        <dd class="door-configuration-table-header">
            Door Model
        </dd>
        <dd>
            <p>{{data.construction.modelNumber}}</p>
            <span *ngIf="!data.isDIY">{{data.construction.price + data.construction.laborcost | currency:'USD':true:'1.2-2'}}</span>
            <span *ngIf="data.isDIY">{{data.construction.price | currency:'USD':true:'1.2-2'}}</span>
        </dd>
    </dl>
    <dl class="door-configuration-table">
        <dd class="door-configuration-table-header">
            Size
        </dd>
        <dd>
            <p>{{data.widthF}}'{{data.widthI}}"(w) x {{data.heightF}}'{{data.heightI}}"(h)</p>
        </dd>
    </dl>
    <dl class="door-configuration-table">
        <dd class="door-configuration-table-header">
            WindCode
        </dd>
        <dd>
            <p>{{data.windcode}}</p>
        </dd>
    </dl>
    <dl class="door-configuration-table">
        <dd class="door-configuration-table-header">
            Door Design
        </dd>
        <dd>
            <p>{{data.designName}}</p>
        </dd>
    </dl>
    <dl class="door-configuration-table">
        <dd class="door-configuration-table-header">
            Door Construction
        </dd>
        <dd>
            <p [innerHTML]="data.construction.name + ' (x' + data.construction.qty + ' Per Door)'"></p>            
        </dd>
    </dl>
    <dl class="door-configuration-table">
        <dd class="door-configuration-table-header">
            Color
        </dd>
        <dd>
            <p>{{data.color.overlay.name}}</p>
            <span>{{data.color.overlay.price | currency:'USD':true:'1.2-2'}}</span>
        </dd>
        <dd>
            <p>{{data.color.base.name}}</p>
            <span>{{data.color.base.price  | currency:'USD':true:'1.2-2'}}</span>
        </dd>
    </dl>
    <dl class="door-configuration-table">
        <dd class="door-configuration-table-header">
            Top Section
        </dd>
        <dd>
            <p>{{data.topSection.name}}</p>
            <span>{{data.topSection.glassType.price | currency:'USD':true:'1.2-2'}}</span>
        </dd>
    </dl>    
    <dl class="door-configuration-table">
        <dd class="door-configuration-table-header">
            Hardware
        </dd>
        <dd>            
            <p [innerHTML]="data.hardware.handle.name + ' (x' + data.hardware.handle.qty + ' Per Door)'"></p>
            <span>{{data.hardware.handle.price * data.hardware.handle.qty  | currency:'USD':true:'1.2-2'}}</span>
        </dd>
        <dd>
            <p [innerHTML]="data.hardware.stepPlate.name + ' (x' + data.hardware.stepPlate.qty + ' Per Door)'"></p>
            <span>{{data.hardware.stepPlate.price * data.hardware.stepPlate.qty  | currency:'USD':true:'1.2-2'}}</span>                   
        </dd>
        <dd>
            <p [innerHTML]="data.hardware.hinge.name + ' (x' + data.hardware.hinge.qty + ' Per Door)'"></p>
            <span>{{data.hardware.hinge.price * data.hardware.hinge.qty  | currency:'USD':true:'1.2-2'}}</span>                
        </dd>
    </dl>        
    <dl class="door-configuration-table" *ngIf="data.opener.name !== ''">
        <dd class="door-configuration-table-header">
            Opener
        </dd>
        <dd>
            <p>{{data.opener.name}}</p>
            <span>{{data.opener.price | currency:'USD':true:'1.2-2'}}</span>
        </dd>
    </dl>
    <dl class="door-configuration-table" *ngIf="data.opener.items.length > 0">
        <dd class="door-configuration-table-header">
            Opener Accessories
        </dd>
        <dd *ngFor="let itm of data.opener.items">
            <p>{{itm.name}}</p>
            <span>{{itm.price | currency:'USD':true:'1.2-2'}}</span>
        </dd>
    </dl>
    <dl class="door-configuration-table" *ngIf="data.additionalOptions.items.length > 0">
        <dd class="door-configuration-table-header">
            Additional Options
        </dd>
        <dd *ngFor="let itm of data.additionalOptions.items">
            <p>{{itm.name}}</p>
            <span>{{itm.price | currency:'USD':true:'1.2-2'}}</span>
        </dd>
    </dl>   
    <div *ngIf="additional">            
        <dl class="door-configuration-table">
            <dd class="door-configuration-table-header">
                Quantity
            </dd>
            <dd>
                <div class="row">
                    <div class="col-xs-4">Openers</div>
                    <div class="col-xs-8 pull-right">
                        <img src="../../assets/images/substract.png" alt="" height="22" width="22" class="minus-quantity pull-left">
                        <span>1</span>
                        <img src="../../assets/images/add.png" alt="" height="22" width="22" class="add-quantity ">
                    </div>
                </div>
            </dd>
        </dl>
    </div>    
</div>