<div class="col-xs-2 padding-0 nav-component">
    <nav class="numbers">
        <ul class="padding-0">
            <li>
                <div (click)="home.open()">
                    <img src="../../assets/images/left-nav/leftnavHMiconVP.png" alt="">
                    <span>Home</span>
                </div>
            </li>
            <li (click)="visited(1)" class="current">
                <img src="../../assets/images/left-nav/leftnav1iconCP.png" alt="">
                <span>Size</span>
            </li>

            <li *ngFor="let menu of menuArray">
                <div (click)='visited(menu)'>
                    <img src="../../assets/images/left-nav/leftnav{{menu+1}}iconNVP.png" alt="">
                    <span class="hide">Size</span>
                </div>
            </li>
        </ul>
    </nav>
</div>
<modal #home>
    <modal-header [show-close]="true">
    </modal-header>
    <modal-body class="text-center">

        <p class="margin-b-10">Navigating to Home Page will discard all available Cart Items.</p>
        <p class="margin-b-30">Do you want to Continue ?</p>
        <div class="text-center">
            <button class="btn btn-default text-orange bold text-center text-uppercase" (click)="goToHome()">Yes</button>
            <button class="btn btn-default text-orange bold text-center text-uppercase" (click)="home.close()">No</button>
        </div>

    </modal-body>
</modal>