<div class="col-xs-2 padding-0 nav-component">
    <nav class="old-images">
        <ul class="padding-0">
            <li (click)="visited(0)">
                <img src="../../assets/images/left-nav/old/home-O.png" alt="">
                <span>Home</span>
            </li>
            <li class="current" (click)="visited(1)">
                <img src="../../assets/images/left-nav/old/size-s.png" alt="">
                <span>Size</span>
            </li>
            <li (click)="visited(2)">
                <img src="../../assets/images/left-nav/old/collection-w.png" alt="">
                <span>Collection</span>
            </li>
            <li (click)="visited(3)">
                <img src="../../assets/images/left-nav/old/home-w.png" alt="">
                <span>Choose Home</span>
            </li>
            <li>
                <img src="../../assets/images/left-nav/old/design-w.png" alt="">
                <span>Design</span>
            </li>
            <li>
                <img src="../../assets/images/left-nav/old/construction-w.png" alt="">
                <span>Construction</span>
            </li>
            <li>
                <img src="../../assets/images/left-nav/old/color-w.png" alt="">
                <span>Color</span>
            </li>
            <li>
                <img src="../../assets/images/left-nav/old/topsection-w.png" alt="">
                <span>Top Section</span>
            </li>
            <li>
                <img src="../../assets/images/left-nav/old/glasstype-w.png" alt="">
                <span>Glass Type</span>
            </li>
            <li>
                <img src="../../assets/images/left-nav/old/hardware-w.png" alt="">
                <span>Hardware</span>
            </li>
            <li id="diy-s">
                <img src="../../assets/images/left-nav/old/diy-w.png" alt="">
                <span>DIY/Install</span>
            </li>
            <li>
                <img src="../../assets/images/left-nav/old/opener-w.png" alt="">
                <span>Opener</span>
            </li>
            <li id="diySelected">
                <img src="../../assets/images/left-nav/old/summary-w.png" alt="">
                <span>Summary</span>
            </li>
        </ul>
    </nav>
    <nav class="numbers hide">
        <ul class="padding-0">
            <li (click)="visited(0)">
                <img src="../../assets/images/left-nav/home-O.png" alt="">
                <span>Home</span>
            </li>
            <li (click)="visited(1)" class="current">
                <img src="../../assets/images/left-nav/leftnav01iconCP.png" alt="">
                <span>Size</span>
            </li>
            <li (click)="visited(2)">
                <img src="../../assets/images/left-nav/leftnav02iconNVP.png" alt="">
                <span>Collection</span>
            </li>
            <li (click)="visited(3)">
                <img src="../../assets/images/left-nav/leftnav03iconNVP.png" alt="">
                <span>Choose Home</span>
            </li>
            <li>
                <img src="../../assets/images/left-nav/leftnav04iconNVP.png" alt="">
                <span>Design</span>
            </li>
            <li>
                <img src="../../assets/images/left-nav/leftnav05iconNVP.png" alt="">
                <span>Construction</span>
            </li>
            <li>
                <img src="../../assets/images/left-nav/leftnav06iconNVP.png" alt="">
                <span>Color</span>
            </li>
            <li>
                <img src="../../assets/images/left-nav/leftnav07iconNVP.png" alt="">
                <span>Top Section</span>
            </li>
            <li>
                <img src="../../assets/images/left-nav/leftnav08iconNVP.png" alt="">
                <span>Glass Type</span>
            </li>
            <li>
                <img src="../../assets/images/left-nav/leftnav09iconNVP.png" alt="">
                <span>Hardware</span>
            </li>
            <li id="diy-s">
                <img src="../../assets/images/left-nav/leftnav10iconNVP.png" alt="">
                <span>DIY/Install</span>
            </li>
            <li>
                <img src="../../assets/images/left-nav/leftnav11iconNVP.png" alt="">
                <span>Opener</span>
            </li>
            <li id="diySelected">
                <img src="../../assets/images/left-nav/leftnav12iconNVP.png" alt="">
                <span>Summary</span>
            </li>
        </ul>
    </nav>
    <nav class="gdo hide">
        <ul class="padding-0">
            <li (click)="visited(0)">
                <img src="../../assets/images/left-nav/leftnav01iconVP.png" alt="">
                <span>Home</span>
            </li>
            <li class="current" (click)="visited(1)">
                <img src="../../assets/images/left-nav/leftnav02iconCP.png" alt="">
                <span>Size</span>
            </li>
            <li (click)="visited(2)">
                <img src="../../assets/images/left-nav/leftnav03iconNVP.png" alt="">
                <span>Openers</span>
            </li>
            <li (click)="visited(3)">
                <img src="../../assets/images/left-nav/leftnav04iconNVP.png" alt="">
                <span>Order Details</span>
            </li>
            <li>
                <img src="../../assets/images/left-nav/leftnav05iconNVP.png" alt="">
                <span>Shopping Cart</span>
            </li>
        </ul>
    </nav>
</div>
