<h4 class="text-orange"> {{pageNo}}.Your Shopping Cart </h4>
<p><img src="../../assets/images/Info-64.png" height="26" alt="">
                <span class="bold">
                    Estimated Pre Tax Sub-Total :
                </span>
                <span class="pull-right bold">
                    $475.00
                </span>
</p>
<div class="div-border div-border-radius tile padding10 margin-b-10">
    <p class="shopping-cart-gallery-info ">Chamberlain Door Operator (Installed)</p>
    <p>Chamberlain HD950WF Wi-Fi Connected MyQ Belt Drive with Battery Back-up with 7' rail (x1)</p>
    <ul class="">Opener Accessories (x1)
        <li><p>Chamberlain Wireless Keypad <br>
            (x1 $30.00 each)</p></li>
        <li><p> Chamberlain 3 Button Remote <br>($25.00 each)</p></li>
    </ul>
</div>
<div class="clearfix  margin-b-40">
    <button type="submit"
            class=" font-size-16 pull-left btn btn-default box-shadow text-orange margin-r-10 bold margin-b-10  text-uppercase">
        REMOVE ITEM
    </button>
                <span class="pull-right margin-b-10 font-size-16">
                    Quantity
                    <img src="../../assets/images/substract.png" alt="" height="20" class="minus-quantity">
                    <span>1</span>
                    <img src="../../assets/images/add.png" alt="" height="20" class="add-quantity">
                </span>
</div>
<div class="text-center">
    <button type="submit" class="btn btn-default box-shadow text-orange bold   text-uppercase ">CHECKOUT NOW
    </button>
</div>
