<!-- Begin Header -->
<div class="row banner-image ptn-rel margin-b-10">
  <div class="ad-sec margin-t-10">
    <img src="../../assets/images/AdBannerMobile.png" alt="">
  </div>
  <!-- Begin Header form -->
  <div class="row bg-orange padding-t-7 form-inline ptn-abs zip-search-form">
    <form novalidate #form="ngForm" (ngSubmit)="save(form, $event)" class="form-group banner-zip-search ptn-rel">
      <div class="col-xs-10 pad-r-0">
        <div class="form-control"></div>
        <input
          type="number"
          placeholder="{{lang.placeholder}}"
          name="zip"
          ngModel
          #zipCode="ngModel"
          minlength="5"
          maxlength="5" 
          class="zip-code ptn-abs roboto-regular"
          required autocomplete="off"  style="text-decoration: none;">
        <span *ngIf="zipCode.errors?.required && zipCode.touched" class="error">
         {{lang.zipcodeMessage}}
        </span>
        <span *ngIf="zipCode.errors?.minlength && zipCode.touched" class="error">
          {{lang.zipcodeMessage}}
        </span>

      </div>
      <div class="col-xs-2 btn-sec">
        <button class="btn btn-sm border-white text-white show-zip-results go-btn"
                [disabled]="form.invalid">{{lang.Go}}</button>
      </div>
    </form>
  </div>
</div>

<app-trending-now></app-trending-now>
