<!-- Begin Header -->
<div class="row banner-image ptn-rel margin-b-10">
   <div class="ad-sec margin-t-10">
    <img *ngIf="this.utils.utilities.isPromoEnabled"  src="../../assets/images/promoGraphics/{{this.utils.promoObject.storeHeroImage}}" alt="">
  </div>

  <!-- Begin Header form -->
  <div class="row bg-orange form-inline ptn-abs zip-search-form">
    <form #form="ngForm" (ngSubmit)="save(form)" class="form-group banner-zip-search ptn-rel">
      <div class="ptn-rel">
        <div class="form-control">
          <input type="text" name="zip" [(ngModel)]="zipCode"
            (paste)="onPasteZipcode($event)" 
            minlength="5" maxlength="5"
            (keyup)="onlyNumberKey($event, form)" placeholder="Enter zip code" 
            class="zip-code" pattern="[0-9]{5}" #zipField="ngModel" 
            autocomplete="off" required>
        </div>
        <span *ngIf="zipField.errors?.required && zipField.touched" class="error ptn-abs">
         {{lang.zipcodeMessage}}
        </span>
        <span *ngIf="zipField.errors?.minlength && zipField.touched" class="error ptn-abs">
          {{lang.zipcodeMessage}} 
        </span>
      </div>
      <div class="btn-sec">
        <button class="btn btn-sm border-white text-white show-zip-results go-btn" [disabled]="form.invalid">{{lang.Go}}</button>
      </div>
    </form>
  </div>
</div>

<app-trending-now></app-trending-now>