<!-- Begin Header -->
<div class="row banner-image ptn-rel margin-b-10">
  <div class="ad-sec margin-t-10">
    <img src="../../assets/images/AdBannerMobile.png" alt="">
  </div>

  <!-- Begin Header form -->
  <div class="row bg-orange form-inline ptn-abs zip-search-form">
    <form novalidate #form="ngForm" (ngSubmit)="save(form, $event)" class="form-group banner-zip-search ptn-rel">
      <div class="ptn-rel">
        <div class="form-control">
          <input type="number" placeholder="{{lang.placeholder}}" minlength="5" maxlength="5" name="zip" class="zip-code" autocomplete="off"
            (keypress)="onlyNumberKey($event)" ngModel #zipCode="ngModel" required>
        </div>
        <span *ngIf="zipCode.errors?.required && zipCode.touched" class="error ptn-abs">
         {{lang.zipcodeMessage}}
        </span>
        <span *ngIf="zipCode.errors?.minlength && zipCode.touched" class="error ptn-abs">
          {{lang.zipcodeMessage}} 
        </span>

      </div>
      <div class="btn-sec">
        <button class="btn btn-sm border-white text-white show-zip-results go-btn" [disabled]="form.invalid">{{lang.Go}}</button>
      </div>
    </form>
  </div>
</div>

<app-trending-now></app-trending-now>