<h4 class="font-size-16 text-orange clear-b" *ngIf="showOverlay">Choose Your Overlay Color</h4>
<div class="tile margin-b-15 ptn-rel clear-b colorSlider" *ngIf="loaded && showOverlay">
    <app-res-slider [data]="data"
                    [number]="number"
                    [cname]="'color'"
                    [subname]="'overlay'"
                    [issub]="showOverlay"
                    [folder]="'color'">
                    
    </app-res-slider>
</div>

<div class="col-xs-8 pull-left pad-l-0">
    <h4 class="font-size-16 text-orange clear-b" *ngIf="showOverlay">Choose Your Door Color</h4>
</div>
<div class="col-xs-4 pull-right behr-pad" (click)="behr.open()"> 
    <img src="../../assets/images/Info-64.png" height="26" class="img-Info-color" alt="">   
    <img src="../../assets/images/color/Behar-icon-small-2.png" class="img-behr" alt=""/>
</div>
<div class="tile margin-b-15 ptn-rel clear-b colorSlider" *ngIf="loaded">

    <app-res-slider [data]="data"
                    [number]="number"
                    [cname]="'color'"
                    [subname]="'base'"
                    [issub]="showOverlay"
                    [folder]="'color'">

    </app-res-slider>


</div>


<div class="margin-t-20 margin-b-20" *ngIf="showVinyl">
    <label>Select a Vinyl Seal:</label>
    <select [(ngModel)]="selectedVinyl" class="form-control" name="color-vinyl">
        <option *ngFor="let vinyl of vinylOptions; let index = index" [attr.value]="index" [innerHTML]="vinyl.item_name"></option>
    </select>
</div>

<div class="margin-t-20 margin-b-20" *ngIf="showgroove">
    <label>Center Groove:</label>
    <select [(ngModel)]="selectedGroove" class="form-control" name="color-groove" (change)="updatePrice()">
        <option *ngFor="let item of grooves; let index = index" [attr.value]="index" [innerHTML]="item.item_name"></option>
    </select>
</div>



<div class="margin-t-20 margin-b-20" *ngIf="showcladding && claddings && claddings.length > 1">
    <label>Choose Your Cladding & Overlay:</label><span style="float:right"> <img src="../../assets/images/Info-64.png" height="25" class="pull-right info-icon" (click)="modalCladdingOverlay.open()" alt=""></span>
    <select [(ngModel)]="selectedCladding" class="form-control" name="color-cladding" (change)="claddingUpdated()">
        <option value="-1">Select Cladding and Overlay</option>
        <option *ngFor="let cladding of claddings; let index = index" [attr.value]="index">{{ cladding.item_name}}</option>
    </select>
</div>

<modal #behr>
    <modal-header [show-close]="true">
    </modal-header>
    <modal-body>
        <div class="col-xs-12">
            <div class="col-xs-5">
                <img src="../../assets/images/color/Behar-icon.png" alt=""/>
            </div>
            <div class="col-xs-7 font-size-16 bold  ">
                <p>Paint Color Codes for Clopay Garage Doors
                <p>
            </div>
        </div>
        <div class="text-center font-size-12 padding-b-10">
            <strong>The BEHR paint color codes below are exact matches to Clopay steel garage door color offerings.
                Take this color code to The Home Depot Paint Desk to get an exact paint match to paint your home’s
                exterior trim to match your Clopay garage door. </strong></div>
        <div class="col-xs-12 bher-color-sec">
            <div class="col-xs-6 text-center font-size-11">
                <span class="color-sec white-pannel"></span>
                <p>Clopay Color: White BEHR® Color Code: CBP-1</p>
            </div>
            <div class="col-xs-6 text-center font-size-11">
                <span class="color-sec almond-pannel"></span>
                <p>Clopay Color: Almond BEHR® Color Code: CBP-2&nbsp;</p>
            </div>
            <div class="col-xs-6 text-center font-size-11">
                <span class="color-sec grey-pannel"></span>
                <p>Clopay Color: Grey BEHR® Color Code: CBP-7</p>
            </div>
            <div class="col-xs-6 text-center font-size-11">
                <span class="color-sec desert-tan"></span>
                <p>Clopay Color: Desert Tan BEHR® Color Code: CBP-3</p>
            </div>
            <div class="col-xs-6 text-center font-size-11">
                <span class="color-sec sandStone"></span>
                <p>Clopay Color: Sandtone BEHR® Color Code: CBP-4</p>
            </div>
            <div class="col-xs-6 text-center font-size-11">
                <span class="color-sec chocolate"></span>
                <p>Clopay Color: Chocolate BEHR® Color Code: CBP-5 **&nbsp;</p>
            </div>
            <div class="col-xs-6 text-center font-size-11">
                <span class="color-sec hunterGreen"></span>
                <p>Clopay Color: Hunter Green BEHR® Color Code: CBP-7</p>
            </div>
        </div>
        <div class="text-center font-size-12">
            <p>* Color Available only on&nbsp;Clopay classic Collection<br>Premium Series Garage Doors</p></div>
    </modal-body>
</modal>

<modal #warning>
    <modal-header [show-close]="false">
    </modal-header>
    <modal-body>
        <div [innerHTML]="errorMsg" class="text-center"></div>
        <div class="text-center">
            <button (click)="warning.close()" class="btn btn-default box-shadow text-orange margin-t-20 margin-b-10 ">CLOSE</button>
        </div>
    </modal-body>
</modal>

<modal #modalCladdingOverlay>
    <modal-header [show-close]="true">
    </modal-header>
    <modal-body>
        <img src="../../assets/images/cladding.png" alt="" />
    </modal-body>
</modal>

<div id="footer" class="col-xs-12 padding-t-10 padding-b-10">
    <a href="javascript:void(0)" class="pull-left previous-btn" (click)="prevBtn('config/design')" data-id="currScreen">
        <img src="../../assets/images/back-48-thick.png" height="15px">
        Prev
    </a>

    <a href="javascript:void(0)" class="pull-right nextBtn" (click)="nextBtn('config/topSection', warning)"
       data-id="currScreen">
        Next
        <img src="../../assets/images/Forward-48-thick.png" height="15px">
        <!--(click)="nextBtn('/additionalOptions')"-->
    </a>
</div>
