<div class="installAnswer">
    <p>The Environmental Protection Agency (EPA) has mandated that all homes built prior to
        1978 be assessed by an EPA Certified Lead Renovator prior to any professional
        home renovation to determine if lead based paint is present in the work area and whether
        containment of lead based paint will be required during the renovation.</p>

    <p>A Lead Based Paint assessment fee of $20 will be added to your order.
        The EPA Certified Lead Renovator will provide additional details and assessment
        results during site inspection of the work area. If it is determined that lead containment
        procedures are required for your project, additional fees will apply.</p>
    <h4>Click here to review and print the EPA Lead Paint guide</h4>
    <p>
        <label for="epa">
            <input type="checkbox" id="epa">
            By checking this box you signify you have reviewed and understand the EPA Lead Based Paint rules and you
            have
            been provided a copy of the EPA brochure.
        </label>
    </p>
    <h4>
        Home Depot is committed to keeping you safe and in compliance with all local and national laws.
    </h4>
    <p>In 2008 the EPA mandated that a test for the presence of lead paint be performed on Garage Doors and associated
        trim on houses built before 1978, prior to replacement.
    </p>
    <p>
        Please visit http://www.epa.gov/lead/pubs/renovation.htm for more information regarding the details of this
        program.
    </p>
    <div class="text-center">
        <button class="btn btn-default btn-lg box-shadow text-orange bold text-uppercase margin-r-25" routerLink="/installQuestion">
            Back
        </button>
        <button class="btn btn-default btn-lg box-shadow text-orange bold text-uppercase" routerLink="/config/opener">
            ok
        </button>
    </div>
</div>