

<div>
    <app-header [count]="currScreen" [showHamburger]="showStepIndicator"></app-header>
</div>

<div class="content">
    <app-nav class="app-nav" *ngIf="showStepIndicator" [steps]="steps" [flowType]="flowType" [activeStep]="activeStep" [screen]="currScreen">

    </app-nav>
    <div class="router-wrapper" [ngClass]="{'main-content' : showStepIndicator}" [class.col-xs-12]="currScreen < 2">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="spinner">
    <img src="../assets/images/spinner.gif" alt="">
</div>

<div class="mask-top"></div>


<modal #homeredirect>
    <modal-body class="text-center">
        <img class="margin-b-20 alert-image margin-t-20" src="../../assets/images/alert-1.png" alt="" />
        <p class=" margin-t-20 bold">
            <span class="margin-b-20 margin-t-20">Navigating to Home Page will discard<br>all available Cart Items.</span>
            <br>
        </p>
        <p class="margin-b-40 margin-t-10 bold">
            <span>Do you want to continue ?</span>
        </p>
        <div class="text-center">
            <button class="btn btn-default btn-lg box-shadow text-orange bold text-uppercase margin-r-25" (click)="goToHome()">
                Home
            </button>
            <button class="btn btn-default btn-lg box-shadow text-orange bold text-uppercase" (click)="stayInPage()">
                Back
            </button>
        </div>
    </modal-body>

</modal>
