<div>
    <app-header [count]="currScreen" [showHamburger]="showStepIndicator"></app-header>
</div>

<div class="content">
    <app-nav class="app-nav" *ngIf="showStepIndicator" [steps]="steps" [flowType]="flowType" [activeStep]="activeStep" [screen]="currScreen">

    </app-nav>
    <div class="router-wrapper" [ngClass]="{'main-content' : showStepIndicator}" [class.col-xs-12]="currScreen < 2">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="spinner">
    <img src="../assets/images/spinner.gif" alt="">
</div>
