
li {
  list-style-type: disc;
}

.construction-carousel {
  .col-xs-6 {
    padding: 0 5px;
    > img {
      width: 100%;
    }
  }
  .selected-icon {
    right: 13px;
  }
}
@background_color_1: rgb(34, 34, 34);
@border_color_1: rgb(200, 200, 200);

.promo-offer {
	opacity: 1;
	padding: 0px;
	border-width: 0px;
	border-radius: 0px;
	border-color: @border_color_1;
	border-style: solid;
	background-color: @background_color_1;
	background-image: none;
	background-size: auto;
	background-repeat: repeat;
	background-position: center center; 
        color: white;
}

