<!--<h4 class="font-size-16 text-orange">Choose Your Construction</h4>-->
<div class="tile margin-b-15 ptn-rel" *ngIf="loaded">
    <div id="myCarousel" class="carousel slide padding10 construction-carousel carousel1" data-ride="carousel">
        <div role="listbox" class="carousel-inner constructionSlider">
            <app-res-slider [data]="data" [number]="number" [folder]="folder" [cname]="'construction'" [category]="category">
            </app-res-slider>
        </div>
    </div>
</div>

<div id="footer" class="col-xs-12 padding-t-10 padding-b-10">
    <a href="javascript:void(0)" class="pull-left previous-btn" (click)="prevBtn('config/design')" data-id="currScreen">
       <img src="../../assets/images/back-48-thick.png" height="15px"> Prev
    </a>

    <a href="javascript:void(0)" class="pull-right nextBtn" (click)="nextBtn('config/color',upsell)" data-id="currScreen">
       Next
       <img src="../../assets/images/Forward-48-thick.png" height="15px">
        <!--(click)="nextBtn('/additionalOptions')"-->
    </a>
</div>
<modal #upsell>
    <modal-header>
    </modal-header>
    <modal-body>
        <div>
            <p class="text-center font-size-16 bold">Have You Considered the Benefits of More Insulation for the Biggest Opening in your Home?</p>
            <p class="font-size-14 margin-b-15">Buying a little more insulation now gives you years of better value: </p>
            <p class="font-size-14 margin-b-15">Better Energy Efficiency / Better Noise Control / Better Dent Resistance / Better Security</p>
        </div>
        <div class="col6 margin-b-15" *ngIf="upSellImage">
            <img class="upsell-image" [ngStyle]="{'background-image': 'url(../../assets/images/'+currentModel+')'}"
                 alt="" />
                 <div class="upsellDetailsDefault">
                <span>{{currentModelName}}</span>
            </div>  
        </div>
        <div class="col6 margin-b-15 ptn-rel" *ngFor="let data of upSellData">
             <span class="pull-right promo-offer">Upgrade for Only {{ getModelPriceUpsell(data) | currency:'USD':true:'1.2-2' }} Per door</span>
            <img class="upsell-image" [ngStyle]="{'background-image': 'url(../../assets/images/'+data.upgrade_image+')'}" (click)="updateWithUpsellPrice(data)"
                 alt="" />

                 <div class="upsellDetails">
                <span>{{getDisplayModelNumber(data.upgrade_model)}}</span>
            </div>
        </div>
        <div class="col6 margin-b-15 margin-t-10 text-center">
            <button class="btn btn-default text-orange" (click)="moveNext()">No Thanks >> Continue</button>
        </div>
    </modal-body>
</modal>