
li {
  list-style-type: disc;
}

.construction-carousel {
  .col-xs-6 {
    padding: 0 5px;
    > img {
      width: 100%;
    }
  }
  .selected-icon {
    right: 13px;
  }
}

@background_color_1: rgb(34, 34, 34);
@border_color_1: rgb(200, 200, 200);

.promo-offer {
  border: 1px solid @border_color_1;
  background-color: @background_color_1;
  color: white;
}

@media only screen and (min-width: 568px) {
  .col6 {
    width: 50%;
  }
  .col-xs-8{
    width: 100%;
  }
}
.upsellDetails{
  position: absolute;
  z-index:2;
  top: 40px;
  left: 25px;
}

