<h4 class="font-size-16 text-orange">Choose Your Construction</h4>
<div class="tile margin-b-15 ptn-rel" *ngIf="loaded">
    <div id="myCarousel" class="carousel slide padding10 construction-carousel carousel1" data-ride="carousel">
        <div role="listbox" class="carousel-inner constructionSlider">
            <app-res-slider [data]="data" [number]="number" [folder]="folder" [cname]="'construction'" [category]="category">
            </app-res-slider>
        </div>
    </div>
</div>

<div id="footer" class="col-xs-12 padding-t-10 padding-b-10">
    <a href="javascript:void(0)" class="pull-left previous-btn" (click)="prevBtn('config/design')" data-id="currScreen">
        <img src="../../assets/images/back-48-thick.png" height="15px"> Prev
    </a>

    <a href="javascript:void(0)" class="pull-right nextBtn" (click)="nextBtn('config/color',upsell)" data-id="currScreen">
        Next
        <img src="../../assets/images/Forward-48-thick.png" height="15px">
        <!--(click)="nextBtn('/additionalOptions')"-->
    </a>
</div>
<modal #upsell>
    <modal-header>
    </modal-header>
    <modal-body>
        <div class="col-xs-12">
            <p class="text-center font-size-16 bold">Have You Considered the Benefits of More Insulation for the Biggest Opening in your Home?</p>
            <p class="text-left font-size-14 pull-left ">Buying a little more insulation now gives you years of better value: Better Energy Efficiency / Better Noise
                Control / Better Dent Resistance / Better Security </p>
        </div>
        <div class="col-xs-12 col6 margin-b-15" *ngFor="let data of upSellData">

            <img src="./assets/images/{{upSellImage.replace('.jpg', '.png')}}" style="border:1px solid #CCC; position:relative; height:190px; width:100%;" alt="" />

        </div>
        <div class="col-xs-12 col6 margin-b-15" *ngFor="let data of upSellData">

            <span class="col-xs-8 pull-right promo-offer">Upgrade for Only $166.00 Per door</span>
            <img src="./assets/images/{{data.upgrade_image}}" style="border:1px solid #CCC; position:relative; height:190px; width:100%;" alt="" />

        </div>
        <!--<div class="col-xs-12 col6 margin-b-15">

            <span class="col-xs-8 pull-right promo-offer">Upgrade for Only $85.00 Per door</span>
            <img src="../../assets/images/construction/Mobile-2.png" (click)="moveNext()" alt="" />
        </div>
        <div class="col-xs-12 col6 margin-b-15 margin-t-10">

            <span class="col-xs-8 pull-right"></span>
            <img src="../../assets/images/construction/hds.png" (click)="moveNext()" alt="" />
        </div>-->
        <div class="col-xs-12 col6 margin-b-15 margin-t-10 text-center">
            <button class="btn btn-default text-orange" (click)="moveNext()">No Thanks >> Continue</button>
        </div>

    </modal-body>
</modal>