<h4 class="font-size-16 text-orange">Choose Your Top Section</h4>
<div class="tile margin-b-15 ptn-rel">
    <div id="topSectionCarousel" class="carousel slide padding10 top-section-carousel carousel1"
         data-ride="carousel">
        <!-- Wrapper for slides -->
        <div role="listbox" class="carousel-inner">
            <div class="item active">
                <div class="short-pannel-top">
                    <span class="ptn-rel pull-left">
                        <img src="../../assets/images/top-1.png" alt="" class="top-selectable-img" id="normal">
                        <span class="display-block">Solid Short Elegant</span>
                    </span>
                    <span class="pull-right margin-r-0 ptn-rel">
                        <img src="../../assets/images/top-2.png" alt="" class="top-selectable-img">
                        <span class="display-block">Plain Short</span>
                    </span>
                </div>
                <div class="long-pannel-top hide">
                    <span class="ptn-rel pull-left">
                        <img src="../../assets/images/top-1-long.png" alt="" class="top-selectable-img" id="normal">
                        <span class="display-block">Solid Long Elegant</span>
                    </span>
                    <span class="pull-right margin-r-0 ptn-rel">
                        <img src="../../assets/images/top-2-long.png" alt="" class="top-selectable-img">
                        <span class="display-block">Plain Long</span>
                    </span>
                </div>
                <div>
                    <span class="ptn-rel pull-left" (click)="longPanel.open()">
                        <img src="../../assets/images/top-3.png" alt="" class="">
                        <span class="display-block">Plain Long</span>
                    </span>
                    <span class="pull-right margin-r-0 ptn-rel">
                        <img src="../../assets/images/top-4.png" alt="" class="">
                        <span class="display-block">Cathedral 507</span>
                    </span>
                </div>
                <div>
                    <span class="ptn-rel pull-right margin-r-0">
                        <img src="../../assets/images/top-9.png" alt="" class="">
                        <span class="display-block">Sunset 501</span>
                    </span>
                    <span class="ptn-rel pull-left">
                        <img src="../../assets/images/top-5.png" alt="" class="">
                        <span class="display-block">Charleston 508</span>
                    </span>
                </div>
            </div>

            <div class="item">
                <div>
                    <span class="ptn-rel pull-left">
                        <img src="../../assets/images/top-7.png" alt="" class="">
                        <span class="display-block">Colonial 509</span>
                    </span>
                    <span class="pull-right margin-r-0 ptn-rel">
                        <img src="../../assets/images/top-8.png" alt="" class="">
                        <span class="display-block">Prarie 510</span>
                    </span>
                </div>
                <div>
                    <span class="pull-left margin-r-0 ptn-rel">
                        <img src="../../assets/images/top-12.png" alt="" class="">
                        <span class="display-block">Cathedral 607</span>
                    </span>
                    <span class="pull-right margin-r-0 ptn-rel">
                        <img src="../../assets/images/top-10.png" alt="" class="">
                        <span class="display-block">Sunset 503</span>
                    </span>
                </div>
                <div>
                    <span class="ptn-rel pull-left">
                        <img src="../../assets/images/top-11.png" alt="" class="">
                        <span class="display-block">Plain Long</span>
                    </span>
                    <!--<span class="pull-right margin-r-0 ptn-rel">-->
                    <!--<img src="images/coming-soon.png" class="ptn-abs coming-soon" alt="">-->
                    <!--<img src="images/top-12.png" alt="" class="">-->
                    <!--<span>Cathedral 607</span>-->
                    <!--</span>-->
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#topSectionCarousel" role="button" data-slide="prev">
            <span class="helper"></span><img class="left-arrow" src="../../assets/images/ch-left-arrow.png" alt="">
        </a>
        <a class="right carousel-control" href="#topSectionCarousel" role="button" data-slide="next">
            <span class="helper"></span><img class="right-arrow" src="../../assets/images/ch-right-arrow.png" alt="">
        </a>
    </div>
</div>

<modal #longPanel>
    <modal-header [show-close]="true">
    </modal-header>
    <modal-body class="long-panel">
        <p>
            When selecting a long panel window on a short panel door, the glass will not line up to the exact width of
            the short panel embosses. Refer to the picture below
        </p>
        <div class="clearfix margin-b-15 ptn-rel">
            <p class="padding-r-7 long-panel-txt">Long panel windows will be smaller than the short panel embosses</p>
            <img src="../../assets/images/top-section/long-panel-with-arrow.png" alt="" class="pull-right">
        </div>
        <div class="margin-b-15 text-center">
            <button class="btn btn-default btn-lg text-orange text-uppercase bold">i accept</button>
        </div>
        <div class="margin-b-15 text-center">
            <button class="btn btn-default btn-lg text-orange text-uppercase bold">no thanks/ choose another window</button>
        </div>
    </modal-body>
</modal>
