<div class="opener-accessories   margin-b-10">
    <h4 class="text-orange font-size-16">Selected Opener</h4>
    <p class="lead margin-b-20">Elite Series 8550W 12v DC Motor with Integrated Battery Backup, Belt Drive, and MyQ with
        7' Rail</p>
    <h4 class="text-orange font-size-16  margin-b-10">Optional Opener Accessories</h4>
    <div class="accessory-sec margin-b-20">
        3-Button Remote 
        <p class="margin-b-0">
            <span class="pull-right" data-id="price-39.95">
                <img class="minus-quantity" src="../../assets/images/substract.png"  alt="">
                <span class="accessory-quantity">0</span>
                <img class="add-quantity" src="../../assets/images/add.png"   alt="">
            </span>
            + <span class="text-orange">$<span>39.95</span> Each</span>
        </p>
    </div>
    <div class="text-center button-margin margin-b-20 margin-t-20">
        <button class="btn btn-default   box-shadow text-orange bold text-uppercase">SELECT OTHER OPENER</button>
    </div>
</div>

