<h3 class="font-size-16 text-orange margin-t-10">{{pageNo}}.Choose Your Collection</h3>

<!-- Begin Tile 2 -->
<div *ngIf="popular">
    <div class="tile margin-t-10" *ngFor="let popular of popularCollections">
        <div class="collection-img">
            <img routerLink="/home" src="../../assets/images/collection/{{popular.imageUrl}}" alt=""/>
        </div>
        <div class="collection-btn-sec ">
            <collection-popup [popup]="popular"></collection-popup>
            <div class="btns pull-right" routerLink="/home">
                <button>Select</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="speciality">
    <div class="tile margin-t-10" *ngFor="let speciality of specialCollections">
        <div class="collection-img">
            <img routerLink="/home" src="../../assets/images/collection/{{speciality.imageUrl}}" alt=""/>
        </div>
        <div class="collection-btn-sec ">
            <collection-popup [popup]="speciality"></collection-popup>
            <div class="btns pull-right" routerLink="/home">
                <button>Select</button>
            </div>
        </div>
    </div>
</div>

<!-- Begin Tile 3 -->
<div class="tile margin-t-10 margin-b-15" *ngIf="specialityBtn" (click)="showSpeciality()">
    <div class="collection-img">
        <img src="../../assets/images/collection/btnCollectionSpeciality.png" alt=""/>
    </div>
</div>
<div class="tile margin-t-10 margin-b-15" *ngIf="popularBtn" (click)="showPopular()">
    <div class="collection-img">
        <img src="../../assets/images/collection/btnCollectionPopular.png" alt=""/>
    </div>
</div>
<div class="text-center button-margin">
    <button (click)="quickShip()" class="btn btn-default text-uppercase btn-big box-shadow bold text-orange">TAP TO SEE
        QUICKSHIP DOORS
    </button>
</div>
<div class="clearfix margin-b-15 inline-block"></div>

<div id="footer" class="col-xs-12 padding-t-10 padding-b-10">
    <a href="javascript:void(0)" class="pull-left previous-btn" (click)="prevBtn(currScreen, '/doorSize')" data-id="currScreen">
        <img src="../../assets/images/back-48-thick.png" height="15px">
        Prev
    </a>

    <a href="javascript:void(0)" class="pull-right nextBtn" (click)="nextBtn(currScreen,'/home')" data-id="currScreen">
        Next
        <img src="../../assets/images/Forward-48-thick.png" height="15px">
    </a>
</div>

<!-- product details popup -->
<modal #productDetails>
    <modal-header [show-close]="true">
    </modal-header>
    <modal-body class="products-details">
        <h4>
            <p class="small">CLASSIC Line of steel</p>
            PREMIUM <span class="small">Series</span>
        </h4>
        <div>
            <h5 class="text-uppercase">Door designs</h5>
            <div class="col-xs-4 pad-l-0">
                <div><img src="../../assets/images/collection/short-elegant.png" alt=""></div>
                <p>Short Elegant</p>
            </div>
            <div class="col-xs-4">
                <div><img src="../../assets/images/collection/long-elegant.png" alt=""></div>
                <p>Long Elegant</p>
            </div>
            <div class="col-xs-4">
                <div><img src="../../assets/images/collection/flash.png" alt=""></div>
                <p>Flush</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="color-sec">
            <h5 class="text-uppercase">colors</h5>
            <div class="col-xs-3 pad-l-0">
                <div class="white">
                </div>
                <p>White</p>
            </div>
            <div class="col-xs-3 pad-l-0">
                <div class="almond">
                </div>
                <p>Almond</p>
            </div>
            <div class="col-xs-3 pad-l-0">
                <div class="desert-tan">
                </div>
                <p>Desert Tan</p>
            </div>
            <div class="col-xs-3 pad-l-0">
                <div class="sand-stone">
                </div>
                <p>Sandtone</p>
            </div>
            <div class="col-xs-3 pad-l-0">
                <div class="bronze">
                </div>
                <p>Bronze <sup>*</sup></p>
            </div>
            <div class="col-xs-3 pad-l-0">
                <div class="chocolate">
                </div>
                <p>Chocolate</p>
            </div>
            <div class="col-xs-3 pad-l-0">
                <div class="gray">
                </div>
                <p>Grey <sup>*</sup></p>
            </div>
            <div class="col-xs-3 pad-l-0">
                <div class="gray">
                </div>
                <p>Hunter Green <sup>*</sup></p>
            </div>

        </div>

        <!-- detail -->
        <div class="clearfix">
            <h5 class="text-uppercase">Detail</h5>
            <img src="../../assets/images/collection/Details.png" class="details-img pull-left" alt="">
            <p class="text-uppercase">Decorative panel edging and natural embossed woodgrain texture improve appearance
                close-up and from the curb.</p>
        </div>

        <!-- ultra-grain  -->
        <div>
            <h5 class="text-uppercase">ULTRA-GRAIN&reg; PAINT OPTION</h5>
            <div class="col-xs-5">
                <div>
                    <img src="../../assets/images/collection/Medium-finish.png" alt="">
                    <p>Medium Finish</p>
                </div>
                <div>
                    <img src="../../assets/images/collection/cheery-finish.png" alt="">
                    <p>Cherry Finish</p>
                </div>
            </div>
            <div class="col-xs-7 pad-l-0">
                <ul>
                    <li>Painted steel surface simulates a real stained door without the ongoing maintenance of wood.
                    </li>
                    <li>Woodgrain runs horizontal on stiles and vertical on panels.</li>
                    <li>Exterior steel surface has a stucco texture to create a more natural woodgrain appearance
                        Decorative
                        panel edging and natural embossed woodgrain
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <h5 class="text-uppercase">Warranties</h5>
            <img src="../../assets/images/collection/warrenties.png" alt="">
            <h5 class="text-uppercase">windows</h5>
            <img src="../../assets/images/collection/windows.png" alt="">
            <p>Add one of our many window options for that custom touch Classic or decorative, Clopay has a Window
                option to complement your home.You can choose from classic windows in single pane glass, Plexiglas or
                obscureglass for extra privacy. Or you can customize your residential garage door byadding a designer
                touch from our line of decorative windows and inserts.</p>
            <h5 class="text-uppercase">construction</h5>
            <img src="../../assets/images/collection/construction.png" class="margin-b-15" alt="">
            <ol>
                <li>2‘ or 1-3/8' insulation provides superior R-values.</li>
                <li>Patented Safe-T-Bracket helps prevent serious injury that could occur if the bottom bracket were
                    removed
                    with the garage door closed and under tension.
                </li>
                <li>Bottom weatherseal in a rust-proof aluminum retainer helps prevent elements from entering garage.
                </li>
                Weather-tight tongue-and-groove section joints help seal out wind, rain and snow.
                <li>Galvanized steel hinges attached to backup plates are durable, reliable and secure.</li>
                <li>Nylon rollers are smooth and quiet.</li>
                <li>Prepainted white end stiles and interior steel backing create a clean, finished appearance.</li>
                <li>Inside/outside step plates and grip handles make doors easy and safe to operate.</li>
            </ol>
        </div>


    </modal-body>
</modal>
<!-- product details popup -->
<modal #productExpand>
    <modal-header [show-close]="true">
    </modal-header>
    <modal-body>
        <p><img src="../../assets/images/collection/btnCollectionClassic-1.png" alt=""></p>
        <img src="../../assets/images/collection/Collapse-50-3.png" (click)="productExpand.close()" alt="">
    </modal-body>
</modal>