<div class="" (notify)="onNotify($event)">
    <h4 class="text-orange font-size-16">{{pageNo}} Choose Your Opener</h4>
    <div class="tile margin-b-15 ptn-rel">

        <app-slider-component [data]="data" [number]="number"
                              (notify)="getOpenerId($event)"></app-slider-component>


    </div>
</div>

<div id="footer" class="col-xs-12 padding-t-10 padding-b-10">
    <a href="javascript:void(0)" class="pull-left previous-btn" (click)="prevBtn('/doorSize')" data-id="currScreen">
        <img src="../../assets/images/back-48-thick.png" height="15px">
        Prev
    </a>

    <a href="javascript:void(0)" class="pull-right nextBtn" (click)="nextBtn()" data-id="currScreen">
        Next
        <img src="../../assets/images/Forward-48-thick.png" height="15px">
        <!--(click)="nextBtn('/additionalOptions')"-->
    </a>
</div>


<modal #gdoOponerAccessories>
    <modal-body>
        <div>
            <h4>Selected Opener:</h4>
            {{gdoOpenertext}}
        </div>
        Optional Opener Accessories:
        <div class="tile col-xs-12">
            <div *ngFor="let obj of gdoOpenerObj; let k = index">
                <div class="col-xs-10 padding-0">
                    {{obj.item_name}}
                    <span class="text-right">{{obj.item_price}}</span>
                </div>
                <div class="col-xs-2">
                    <select (change)="selectedGdoCount(obj, $event, k)">
                        <option value="">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>

            <div>
                <button class="btn btn-lg btn-default text-uppercase" (click)="accessoriesModalClose()">
                    select other
                    opener
                </button>
                <button class="btn btn-lg btn-default text-uppercase" (click)="accessoriesModalNext()">Next Step
                </button>
            </div>
        </div>
    </modal-body>
</modal>
