@media only screen and (min-width: 375px) {
  .gdo-details-txt{
    font-size: 15px;
  }
}
.gdo-details-txt{
  font-size: 14px;
}



.switcher-image-sec.gdo{
  img {
    height: 154px;
    margin-left: -55px;
  }
}