<div class="linear-bg">
    <h3 class="font-size-16 margin-t-10 visualize-header"></h3>
    <div class="text-center switcher-image-sec gdo">
        <img src="../../assets/images/openers/{{gdoBanner}}" class="switcher-image" alt="">
    </div>
</div>
<div class="inner-router">
    <router-outlet>

    </router-outlet>
</div>
<div class="tile" *ngIf="showDetails">
    <div class="design-detials--sec">
        <div class="col-xs-6 padding-r-7  border-white-right font-size-12">
            <p>{{itemPrice | currency:'USD':true:'1.2-2'}} / Opener</p>
        </div>
        <div class="col-xs-6 padding-0-r  font-size-12 clearfix">
            <p>
                Quantity
                <img src="../../assets/images/substract.png" alt="" (click)="updateQuantity(0)" class="minus-quantity">
                <span>{{quantity}}</span>
                <img src="../../assets/images/add.png" alt="" (click)="updateQuantity(1)" class="add-quantity">
            </p>
            <p class="margin-b-5">&nbsp;</p>
        </div>
        <h4 class="text-center text-orange gdo-details-txt">Prices Include All Applicable Discounts</h4>
    </div>
</div>

<div class="row margin-b-15"></div>
