<div *ngIf="visualizeHeader" class="gdo-config linear-bg">
    <h3 id='visualize-header' class="font-size-16 visualize-header">
    </h3>
    <div class="text-center switcher-image-sec gdo">
        <img src="../../assets/images/openers/banner{{gdoBanner}}" class="switcher-image" alt="">
    </div>
</div>
<div class="inner-router">
    <router-outlet>

    </router-outlet>
</div>
<div>
    <div class="tile gdoCofigDetails" *ngIf="showDetails">
        <div class="design-detials--sec">
            <div class="col-xs-6 padding-r-7  border-white-right font-size-12">
                <p>{{itemPrice | currency:'USD':true:'1.2-2'}} / Opener</p>
            </div>
            <div class="col-xs-6 padding-0-r  font-size-12 clearfix">
                <p>
                    Quantity
                    <img src="../../assets/images/substract.png" alt="" (click)="updateQuantity(0)" class="minus-quantity">
                    <span>{{quantity}}</span>
                    <img src="../../assets/images/add.png" alt="" (click)="updateQuantity(1)" class="add-quantity">
                </p>
                <h4 class="pull-right padding-r-7 text-orange showDetails" *ngIf="showDetails" (click)="openShowDetailsmodal(showDetails)">DETAILS</h4>
            </div>
            <h4 class="text-center text-orange gdo-details-txt font-size-14">Prices Include All Applicable Discounts</h4>
        </div>
    </div>
</div>

<div class="row margin-b-15"></div>

<modal #showDetails>
    <modal-header [show-close]="true">
    </modal-header>
    <modal-body>
        <p class="clearfix">
            <span class="col-xs-4 bold">Zip Code :</span>
            <span class="col-xs-8 padding-0">
                {{detailObj.zip}} - {{detailObj.city}} <br>
            </span>
        </p>
        <p class="clearfix">
            <span class="col-xs-4 bold">Location :</span>
            <span class="col-xs-8 padding-0">
                {{detailObj.county}} COUNTY
            </span>
        </p>
        <p class="clearfix">
            <span class="col-xs-4 bold">Store :</span>
            <span class="col-xs-8 padding-0">
                {{storeName.storename}}
            </span>
        </p>
        <p class="clearfix">
            <span class="col-xs-4 bold">Opener :</span>
            <span class="col-xs-8 padding-0" *ngIf="gdoLoaded">
                <span [innerHtml]="openerTxt"></span> <br/>
            </span>
        </p>
        <p class="clearfix" *ngIf="gdoOpeners && gdoOpeners.length > 0">
            <span class="col-xs-4 bold">Opener Accessories:</span>
            <span class="col-xs-8 padding-0" *ngIf="gdoLoaded">
                <div *ngFor="let g of gdoOpeners">{{g.count}} - {{g.name}}({{g.price | currency:'USD':true:'1.2-2'}} each)</div>
            </span>
        </p>
        <p *ngIf="showDistance">
            <span class="col-xs-8 col-xs-offset-4 padding-0">
            {{distance}} miles from store ({{distancePrice | currency:'USD':true:'1.2-2'}})
            </span>
        </p>
    </modal-body>
</modal>