<!--<h4 class="font-size-16 text-orange">Choose Your Door Design</h4>-->
<div class="tile text-center choose-your-design--sec margin-b-15 ptn-rel choose-design" *ngIf="loaded">
    <!--<div class="margin-b-10">-->
    <!--<img src="../../assets/images/white-short.png" alt="" id="short">-->
    <!--</div>-->
    <!--<div class="margin-r-0 ptn-rel">-->
    <!--<img src="../../assets/images/white-long.png" alt="" id="long">-->
    <!--</div>-->


    <app-res-slider [data]="data"
                    [number]="number"
                    [folder]="'design'"
                    [cname]="'design'"
                    [category]="">
    </app-res-slider>


</div>


<div id="footer" class="col-xs-12 padding-t-10 padding-b-10">
    <a href="javascript:void(0)" class="pull-left previous-btn" (click)="prevBtn('/home')" data-id="currScreen">
        <img src="../../assets/images/back-48-thick.png" height="15px">
        Prev
    </a>

    <a href="javascript:void(0)" class="pull-right nextBtn" (click)="nextBtn('config/construction')"
       data-id="currScreen">
        Next
        <img src="../../assets/images/Forward-48-thick.png" height="15px">
        <!--(click)="nextBtn('/additionalOptions')"-->
    </a>
</div>

