<div class="linear-bg">
  <h3 class="font-size-16 margin-t-10 visualize-header">
    <div class="pull-right switcher-sec text-orange text-uppercase home-image"  >
       <span  class="switcher-text">Home</span>
      <span class="switcher margin-b-10"></span>
            <span class="switcher-box switcher-icon hide"  >
                <img src="../../assets/images/homes/Portrait360x179/{{homeImage}}" height="17">
            </span>
            <span class="switcher-box-home switcher-icon"  >
                <img src="{{homeImage}}" height="17">
            </span>  
               <span class="switcher-text"> Door</span>
    </div>
  </h3>
  <div class="text-center switcher-image-sec col-xs-12">
    <!--<img src="../../assets/images/home-1/white-short.png" alt="" class="switcher-image homeImage">-->
    <img src="../../assets/images/DIShomeDbl02land.PNG"  alt="" class="switcher-image landscape-img homeImage">
      <img src="../../assets/images/DIShomeDbl02por.PNG" alt="" class="switcher-image portrait-img homeImage">
  </div>
</div>
<div class="inner-router">
<router-outlet>

</router-outlet>
</div>
<app-details></app-details>
<div class="row margin-b-15"></div>
