.linear-bg {
  border-bottom: 1px solid #000;
  background: linear-gradient(to bottom, #fff, rgba(51, 51, 51, 0.1));
  background-color: #fff;
  .switcher-sec {
    z-index: 5;
    margin-right: 0;
    position: absolute;
    top: 2px;
    right: 4px;
    font-size: 8px;
    .switcher-box {
      right: 35px;
    }
    .switcher-box-home {
      right:60px; 
    }
  }
} 
.direct{
  margin-top:0!important;;
}

.home-image {
  height: 34px;
}

.switcher-text {
  vertical-align: top;
}

.switcher-sec {
  font-size: 8px;
  background: rgba(255, 255, 250, 0.8);
  padding: 10px 0;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  position:relative;
}

.switcher-image-sec {
  padding: 0px;
  min-height: 100px;
}
.res-config .switcher-image-sec img {
  // display: none;
}
.switcher-image-sec #doorVis {
    left: 0 !important;
    top: 0 !important;
    position: relative !important;
}

.switcher {
  background: #f96302;
  border-radius: 10px;
  width: 50px;
  height: 10px;
  display: inline-block;
  margin: 1px 5px 0;
}

.switcher-box {
  background: #fff;
  padding: 5px;
  box-shadow: 0 0 3px #000;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 4px;
}

.switcher-box-home {
  background: #fff;
  padding: 5px;
  box-shadow: 0 0 3px #000;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 4px;
}


.switcher-image.homeImage {
  margin-bottom: 0;
  position: static;
  z-index: 3;
}


.res-loader {
  position: fixed;
  width: 100vw;
  height:100vh;
  opacity: .7;
  /* background-color: black; */
}

/* Details */
.border-white-right {
  border-right: 1px solid #fff;
}

.minus-quantity {
  height: 18px !important;
}

.add-quantity {
  height: 18px !important;
}

.color-black {
  color: #000000;
}

//.quantity-view-details {
//  top:50%;
//  position: relative;
//
//}

.quantity-view-details {
  padding-bottom: 80px;
  h3 {
    color: rgb(51, 51, 51);
    font-size: 20px;
  }
  ul {
    padding-left: 0;
    margin-left: 0px;
    height: 300px;
    li {
      padding-bottom: 10px;
      span {
        display: block !important;
        strong {
          display: block;
          color: #f96302;
          border-bottom: 1px solid #ccc;
          line-height: 18px;
        }
      }
      .quantity-view-details li span {
        color: #4D4D4D;
        font-size: 14px;
      }
    }
  }
}
.padding5{
    padding:5px;
}
.design-detials--sec {
  .price-section {
    padding-left: 3px;
  }
}
.swicher-align {
	margin-bottom: 0px;
	float: left;
	width: 66%;
}
