<div class="clearfix">
    <h3 class="font-size-16 margin-t-10 visualize-header">
        {{ pageTitle }}
    </h3>
    <div class="switcher-sec text-orange text-uppercase home-image">
        <span class="switcher-text">Home</span>
        <span class="switcher margin-b-10"></span>
        <span class="switcher-box switcher-icon">
            <img src="../../assets/images/door_icon.png" height="14">
        </span>
        <span class="switcher-box-home switcher-icon hide">
            <img src="../../assets/images/home_icon.png" height="14">
        </span>
        <span class="switcher-text"> Door</span>
    </div>
    <div class="text-center switcher-image-sec">
        <!--<img src="../../assets/images/home-1/white-short.png" alt="" class="switcher-image homeImage">-->
        <!--<img src="../../assets/images/design/{{homeImage}}"  alt="" class="switcher-image landscape-img homeImage">-->
        <!--<img src="../../assets/images/design/{{homeImage.replace('.jpg', '.png')}}" alt="" class="switcher-image portrait-img homeImage">-->
        <img height="120px" src="http://hddchtml.clopay.com/Content/en/images/{{homeImage.replace('.jpg', '.png')}}" alt="" class="switcher-image portrait-img homeImage">
        <div id="doorVis"></div>
    </div>
</div>
<div class="inner-router">
    <router-outlet>

    </router-outlet>
</div>
<app-details></app-details>
<div class="row margin-b-15"></div>
<div *ngIf="!loaded" class="res-loader">

</div>
