.linear-bg {
  border-bottom: 1px solid #000;
  background: linear-gradient(to bottom, #fff, rgba(51, 51, 51, 0.1));
  height: 170px;
  padding: 0;
  z-index: 1;
  width: 100%;  
  position: fixed;
  left: 0;
  background-color: #fff;
} 
.inner-router {
  margin-top: 190px;
}
.direct{
  margin-top:0!important;;
}

.home-image {
  height: 34px;
}

.switcher-text {
  vertical-align: top;
}

.switcher-sec {
  font-size: 10px;
  background: rgba(255, 255, 250, 0.8);
  padding: 10px;
  border-radius: 20px;
  margin-right: 20px;
}

.switcher-image-sec {
  padding: 0px;
}

.switcher {
  background: #f96302;
  border-radius: 10px;
  width: 50px;
  height: 10px;
  display: inline-block;
  margin: 1px 5px 0;
}

.switcher-box {
  background: #fff;
  padding: 5px;
  box-shadow: 0 0 3px #000;
  border-radius: 50%;
  position: absolute;
  right: 68px;
  top: 17px;
}

.switcher-box-home {
  background: #fff;
  padding: 5px;
  box-shadow: 0 0 3px #000;
  border-radius: 50%;
  position: absolute;
  right: 68px;
  top: 2px;
}


.switcher-image.homeImage {
  margin-bottom: 0;
  position: static;
  z-index: 3;
}

.switcher-icon {
  right: 93px;
}
@media only screen and (min-width: 568px) {
  .linear-bg {
    width: 100%; 
    position: absolute; 
  }
}
