<h4 class="text-orange font-size-16">{{pageNo}}.Choose Your Home</h4>
<div class="stock clearfix">
    <div class="col-xs-4" *ngFor="let home of homes">
        <img src="../../assets/images/homes/buttons97x65/btn{{home._btnimage}}" (click)="selectHome(home, $event)"/>
    </div>
</div>
<div class="camera-section-selection space-around col-xs-12">
    <div class="col-xs-4 text-center">
        <label class="current">
            <img src="../../assets/images/stock-block.png">
            <p>Stock</p>
        </label>
    </div>
    <div class="ptn-rel col-xs-4 text-center">
        <label class="ptn-rel">
            <img src="../../assets/images/camera-block.png">
            <input type="file" class="ptn-abs camera" accept="image/*" capture="camera">
            <p>Camera</p>
        </label>
    </div>
    <div class="ptn-rel col-xs-4 text-center">
        <label class="ptn-abs ptn-rel">
            <img src="../../assets/images/gallery-block.png" alt=""/>
            <input type="file" class="ptn-abs gallery" accept="image/*">
            <p>Gallery</p>
        </label>
    </div>
</div>


<div id="footer" class="col-xs-12 padding-t-10 padding-b-10">
    <a href="javascript:void(0)" class="pull-left previous-btn" (click)="prevBtn(currScreen, '/collection')" data-id="currScreen">
        <img src="../../assets/images/back-48-thick.png" height="15px">
        Prev
    </a>

    <a href="javascript:void(0)" class="pull-right nextBtn" (click)="nextBtn(currScreen,'/config/design')" data-id="currScreen">
        Next
        <img src="../../assets/images/Forward-48-thick.png" height="15px">
    </a>
</div>
