<div>
    <p><span class="text-orange font-size-16">Checkout</span> <span
            class="bold pull-right font-size-16">Sold To :</span></p>
    <form class="form-label">
        <div class="form-group">
            <label for="inputEmail">First Name:</label>
            <input type="text" class="form-control" id="inputEmail" placeholder="">
        </div>
        <div class="form-group">
            <label for="inputPassword">Last Name:</label>
            <input type="text" class="form-control" id="inputPassword" placeholder="">
        </div>
        <div class="form-group">
            <label for="inputPassword">Address 1:</label>
            <input type="text" class="form-control" id="inputPassword" placeholder="">
        </div>
        <div class="form-group">
            <label for="inputPassword">Address 2:</label>
            <input type="text" class="form-control" id="inputPassword" placeholder="">
        </div>
        <div class="form-group col-xs-6 padding-0-l">
            <label for="inputPassword">City:</label>
            <input type="text" class="form-control" id="inputPassword" placeholder="">
        </div>
        <div class="form-group col-xs-6 padding-0-r">
            <label for="inputPassword">State:</label>
            <input type="text" class="form-control" id="inputPassword" placeholder="">
        </div>
        <div class="form-group col-xs-6 padding-0-l">
            <label for="inputPassword">Zipcode:</label>
            <input type="number" class="form-control" id="inputPassword" placeholder="">
        </div>
        <div class="form-group col-xs-6 padding-0-r">
            <label for="inputPassword">Country:</label>
            <input type="text" class="form-control" id="inputPassword" placeholder="">
        </div>
        <div class="form-group col-xs-6 padding-0-l">
            <label for="inputPassword">Primary Phone No:</label>
            <input type="number" class="form-control" id="inputPassword" placeholder="">
        </div>
        <div class="form-group col-xs-6 padding-0-r">
            <label for="inputPassword">Secondary Phone No:</label>
            <input type="number" class="form-control" id="inputPassword" placeholder="">
        </div>
        <div class="form-group">
            <label for="inputEmail">Email Address: (Used for order confirmation only)</label>
            <input type="text" class="form-control" id="inputEmail" placeholder="">
        </div>
    </form> 
       <button type="submit"
                    class="text-center btn btn-default box-shadow text-orange margin-r-10 bold margin-b-10 pull-left"
                   (click)="goToCustomerServiceInfo()" >NEXT
            </button>
   
</div>
