._slider-container {
  ._slider-wrapper {
    overflow: hidden;
    ._slider {
      clear: both;
      position: relative;
      ._slide {
        float: left;
        ._slide-img {
          width: 100%;
          height: auto;
        }

        ._slide-items {
          .inner-item{
            padding: 5px;
            .current{
                border:1px solid #993300;
            }
          }
        }
      }
    }
  }
}
